<div id="wrap">
  <div id="sidebar">
    <p>
    asdoasjdoiasjdoiajsd
    aisdjoaijdaoisjdoiajsd
    oiajsdoaijdoiajsd
    ioajdoaijdoasijdoasjdoiasjdoijasodja
    iajsdoasijdoaisjdoaisjdoasijdosaijdoasijdoasijdaosijd
    aosdijaosidjoasjdoiasjdoaisjdoiajsdoiajsoidjaosijd
    asdijaosijdoiasjd'
    oiajsdoiasjd
    oiajsdoaisjd
    oajdioasjdoaisjd
    ansdaksndjkansdkjnasdkjn
    kasdnkajnsdjkasndkjasndkjansdkj
    asdnkajsdnkajsndkajsndkjndkasjnd
    </p>
  </div>
  <div id="databox">
    <p>
    asdoasjdoiasjdoiajsd
    aisdjoaijdaoisjdoiajsd
    oiajsdoaijdoiajsd
    ioajdoaijdoasijdoasjdoiasjdoijasodja
    iajsdoasijdoaisjdoaisjdoasijdosaijdoasijdoasijdaosijd
    aosdijaosidjoasjdoiasjdoaisjdoiajsdoiajsoidjaosijd
    asdijaosijdoiasjd'
    oiajsdoiasjd
    oiajsdoaisjd
    oajdioasjdoaisjd
    ansdaksndjkansdkjnasdkjn
    kasdnkajnsdjkasndkjasndkjansdkj
    asdnkajsdnkajsndkajsndkjndkasjnd
    </p>
  </div>
  <div id="clearfix">
  </div>
</div>
